<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <div href="https://react-portfolio-mdzubair5k.vercel.app/">Portfolio<i class="fa-solid fa-browser"></i></div>
            <div href="https://github.com/mdzubair5k"><i class="fa-brands fa-github">GitHub</i></div>
            <div href="https://www.linkedin.com/in/mohd-zubair5k/"><i class="fa-brands fa-linkedin">LinkedIn</i></div>
        </div>
      
        <div class="f-info-brand">  &copy;Wanderlust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>