<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <!-- <a href="https://react-portfolio-mdzubair5k.vercel.app/"><i class="fa-brands fa-globe-pointer"></i></a> -->
            <a href="https://github.com/mdzubair5k"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.linkedin.com/in/mohd-zubair5k/"><i class="fa-brands fa-linkedin"></i></a>
        </div>
      
        <div class="f-info-brand">  &copy;villasHub Private Limited</div>
        <div class="f-info-links">
            <a href="https://react-portfolio-mdzubair5k.vercel.app/">Visit my portfolio...</a>
            <!-- <a href="/terms">Terms</a> -->
        </div>
    </div>
</footer>